{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Ürün Güncelle</h3>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }} {# CKEditor medya dosyalarını ekleyin #}
            {{ form|crispy }} {# Formu crispy_forms ile işleyin #}
            <br>
            <button type="submit" class="btn btn-danger">Ürün Güncelle</button>
        
        </form>
    </div>
</div>
{% endblock %}
